<%- partial('_partial/head') %>
<body>
<div class="container">
  <div class="wrap">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="outer">
      <section class="main"><%- body %></section>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
</div>
</body>
</html>